In [1]:
import pandas as pd

In [2]:
gas_data = pd.read_csv('greenhouse_gas_inventory_carbon_dioxide.csv')

In [3]:
gas_data.head()

,country_or_area,year,value,category
0,Australia,2014,393126.9470,carbon_dioxide_co2_emissions_without_land_use_...
1,Australia,2013,396913.9365,carbon_dioxide_co2_emissions_without_land_use_...
2,Australia,2012,406462.8477,carbon_dioxide_co2_emissions_without_land_use_...
3,Australia,2011,403705.5283,carbon_dioxide_co2_emissions_without_land_use_...
4,Australia,2010,406200.9932,carbon_dioxide_co2_emissions_without_land_use_...

In [4]:
country_name = 'Germany'
filtered_data = gas_data[gas_data['country_or_area'] == country_name]

print(filtered_data)

Empty DataFrame
Columns: [country_or_area, year, value, category]
Index: []

In [5]:
country_name = 'Austria'
filtered_data = gas_data[gas_data['country_or_area'] == country_name]

print(filtered_data)

   country_or_area  year        value  \
25         Austria  2014  64262.56399
26         Austria  2013  67957.12111
27         Austria  2012  67698.65863
28         Austria  2011  70327.16704
29         Austria  2010  72531.82613
30         Austria  2009  67682.72515
31         Austria  2008  74066.25579
32         Austria  2007  74268.11072
33         Austria  2006  76934.95153
34         Austria  2005  79588.50188
35         Austria  2004  78388.99743
36         Austria  2003  78023.95390
37         Austria  2002  72126.59144
38         Austria  2001  70299.47115
39         Austria  2000  66274.74325
40         Austria  1999  65660.13364
41         Austria  1998  67047.25067
42         Austria  1997  67455.89273
43         Austria  1996  67667.26270
44         Austria  1995  64202.15922
45         Austria  1994  61189.10250
46         Austria  1993  60790.75772
47         Austria  1992  60432.24934
48         Austria  1991  65903.51331
49         Austria  1990  62297.16557

                                             category
25  carbon_dioxide_co2_emissions_without_land_use_...
26  carbon_dioxide_co2_emissions_without_land_use_...
27  carbon_dioxide_co2_emissions_without_land_use_...
28  carbon_dioxide_co2_emissions_without_land_use_...
29  carbon_dioxide_co2_emissions_without_land_use_...
30  carbon_dioxide_co2_emissions_without_land_use_...
31  carbon_dioxide_co2_emissions_without_land_use_...
32  carbon_dioxide_co2_emissions_without_land_use_...
33  carbon_dioxide_co2_emissions_without_land_use_...
34  carbon_dioxide_co2_emissions_without_land_use_...
35  carbon_dioxide_co2_emissions_without_land_use_...
36  carbon_dioxide_co2_emissions_without_land_use_...
37  carbon_dioxide_co2_emissions_without_land_use_...
38  carbon_dioxide_co2_emissions_without_land_use_...
39  carbon_dioxide_co2_emissions_without_land_use_...
40  carbon_dioxide_co2_emissions_without_land_use_...
41  carbon_dioxide_co2_emissions_without_land_use_...
42  carbon_dioxide_co2_emissions_without_land_use_...
43  carbon_dioxide_co2_emissions_without_land_use_...
44  carbon_dioxide_co2_emissions_without_land_use_...
45  carbon_dioxide_co2_emissions_without_land_use_...
46  carbon_dioxide_co2_emissions_without_land_use_...
47  carbon_dioxide_co2_emissions_without_land_use_...
48  carbon_dioxide_co2_emissions_without_land_use_...
49  carbon_dioxide_co2_emissions_without_land_use_...

In [6]:
country_name = 'Australia'
filtered_data = gas_data[gas_data['country_or_area'] == country_name]

print(filtered_data)

   country_or_area  year        value  \
0        Australia  2014  393126.9470
1        Australia  2013  396913.9365
2        Australia  2012  406462.8477
3        Australia  2011  403705.5283
4        Australia  2010  406200.9932
5        Australia  2009  408448.4790
6        Australia  2008  404237.8282
7        Australia  2007  398816.4535
8        Australia  2006  391134.1009
9        Australia  2005  385581.1328
10       Australia  2004  381519.2616
11       Australia  2003  368345.9774
12       Australia  2002  361861.3879
13       Australia  2001  357653.3299
14       Australia  2000  349885.4331
15       Australia  1999  343713.9069
16       Australia  1998  334328.1426
17       Australia  1997  320439.1168
18       Australia  1996  311914.8198
19       Australia  1995  305162.5435
20       Australia  1994  293830.7091
21       Australia  1993  289142.2677
22       Australia  1992  284766.0927
23       Australia  1991  279741.6390
24       Australia  1990  278265.8989

                                             category
0   carbon_dioxide_co2_emissions_without_land_use_...
1   carbon_dioxide_co2_emissions_without_land_use_...
2   carbon_dioxide_co2_emissions_without_land_use_...
3   carbon_dioxide_co2_emissions_without_land_use_...
4   carbon_dioxide_co2_emissions_without_land_use_...
5   carbon_dioxide_co2_emissions_without_land_use_...
6   carbon_dioxide_co2_emissions_without_land_use_...
7   carbon_dioxide_co2_emissions_without_land_use_...
8   carbon_dioxide_co2_emissions_without_land_use_...
9   carbon_dioxide_co2_emissions_without_land_use_...
10  carbon_dioxide_co2_emissions_without_land_use_...
11  carbon_dioxide_co2_emissions_without_land_use_...
12  carbon_dioxide_co2_emissions_without_land_use_...
13  carbon_dioxide_co2_emissions_without_land_use_...
14  carbon_dioxide_co2_emissions_without_land_use_...
15  carbon_dioxide_co2_emissions_without_land_use_...
16  carbon_dioxide_co2_emissions_without_land_use_...
17  carbon_dioxide_co2_emissions_without_land_use_...
18  carbon_dioxide_co2_emissions_without_land_use_...
19  carbon_dioxide_co2_emissions_without_land_use_...
20  carbon_dioxide_co2_emissions_without_land_use_...
21  carbon_dioxide_co2_emissions_without_land_use_...
22  carbon_dioxide_co2_emissions_without_land_use_...
23  carbon_dioxide_co2_emissions_without_land_use_...
24  carbon_dioxide_co2_emissions_without_land_use_...

In [9]:
selected_data = filtered_data[['year','value']]

print(country_name)
print(selected_data)

Australia
    year        value
0   2014  393126.9470
1   2013  396913.9365
2   2012  406462.8477
3   2011  403705.5283
4   2010  406200.9932
5   2009  408448.4790
6   2008  404237.8282
7   2007  398816.4535
8   2006  391134.1009
9   2005  385581.1328
10  2004  381519.2616
11  2003  368345.9774
12  2002  361861.3879
13  2001  357653.3299
14  2000  349885.4331
15  1999  343713.9069
16  1998  334328.1426
17  1997  320439.1168
18  1996  311914.8198
19  1995  305162.5435
20  1994  293830.7091
21  1993  289142.2677
22  1992  284766.0927
23  1991  279741.6390
24  1990  278265.8989